<!-- Для фитнес клубов -->
<div class="frame3">
  <h2 class="name">Для фитнес клубов</h2>
  <div class="boxer3">
    <div class="box-f3-1">
        <h2>Профессиональные <br> кардиотренажеры</h2>
    </div>
    <div class="box-f3-2">
        <h2>Грузоблочные <br> тренажеры</h2>
    </div>
    <div class="box-f3-3">
        <h2>Тренажеры <br> на свободных <br>
            весах</h2>
    </div>
    <div class="b">
    <div class="box-f3-4">
        <h2>Функциональный <br> тренинг</h2>
    </div>
    <div class="box-f3-5">
        <h2>Wellness,<br> 
            СПА, Массаж  </h2>
    </div>
    </div>
    <div class="box-f3-6">
        <h2>Спортивная медицина <br> и реабилитация</h2>
    </div>
    <div class="box-f3-7">
        <h2>Свободные <br>
            веса</h2>
    </div>
  </div>
  <button class="all-btn">Все категории</button>
</div>
