<!--Фрейм с надписью зеро ран-->

<div class="frame1">
  <div class="zero-run">
    <h1>ZERO RUN</h1>
    <h2>БЕГ С НУЛЕВОЙ УДАРНОЙ НАГРУЗКОЙ</h2>
    <h3>НА СУСТАВЫ</h3>
    <button>Узнать больше</button>
  </div>
  <div class="frame1-img">
    <img src="./img/runing.png" alt="" />
  </div>
</div>
