 
	 
<div class="limiter">
<div class="container-login100">
<div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
	
<button class="q2" onclick="Exit()">&#10006</button>

<form class="login100-form validate-form" action="/login" method="post">

<span class="login100-form-title p-b-55">Вход</span>
<div class="wrap-input100 validate-input m-b-16" data-validate="Valid email is required: ex@abc.xyz">
<input class="input100" type="email" name="email" placeholder="Email" id="email">
<span class="focus-input100"></span>
<span class="symbol-input100">
<span class="lnr lnr-envelope"></span>
</span>
</div>
<div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
<input class="input100" type="password" name="password" id="password" placeholder="Password">
<span class="focus-input100"></span>
<span class="symbol-input100">
<span class="lnr lnr-lock"></span>
</span>
</div>

<div class="container-login100-form-btn p-t-25">
<button class="login100-form-btn" type="submit">Войти</button>
</div>

<div class="text-center w-full p-t-115">
	<a class="txt1 bo1 hov1" onclick="Register()">Зарагестрироваться</a>
</div>
</form>

</div>

</div>



<script src="vendor/jquery/jquery-3.2.1.min.js"></script>

<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<script src="vendor/select2/select2.min.js"></script>

<script src="js/main.js"></script>
<script src="js/main1.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-23581568-13');
	</script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v52afc6f149f6479b8c77fa569edb01181681764108816" integrity="sha512-jGCTpDpBAYDGNYR5ztKt4BQPGef1P0giN6ZGVUi835kFF88FOmmn8jBQWNgrNd8g/Yu421NdgWhwQoaOPFflDw==" data-cf-beacon='{"rayId":"7bdc277bda53bcb1","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2023.3.0","si":100}' crossorigin="anonymous"></script>
 
